
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.container{
  display: flex;
  height: 100vh;
}


.App .navbar{
  text-align: center;
  background-color: rgb(86, 158, 104) !important;
 
}

.titulo{
  font-weight: 1000;
}

