
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.container{
  display: flex;
  height: 100vh;
}


.App .navbar{
  text-align: center;
  background-color: rgb(86, 158, 104) !important;
 
}

.titulo{
  font-weight: 1000;
}
.titulo-2{
  font-weight: 700;
}

footer{
  background-color: rgb(86, 158, 104)  ;
}

.sidebar{
  width: 220px;
}

.list-group a:hover{
  background-color: rgb(86, 158, 104)  ;
  color: white;
  cursor: pointer;
}
/* Forms */
.form{
  background-color: #f7f4f4 !important;
}

.sp {
  margin-top: 50px;
 
}

/* card css */

body{
  margin-top:20px;
  background:#FAFAFA;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}